*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #001f3f; /* Color azul oscuro */
    color: white; /* Color del texto */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
}

.contenedor__todo{
    width: 100%;
    max-width: 400px; /* Reducido el ancho máximo */
    margin: auto;
    background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
}

.caja__trasera{
    display: none; /* Eliminado para simplificación */
}

.caja__trasera div{
    margin: 20px;
    color: white;
}

.caja__trasera div p,
.caja__trasera button{
    margin-top: 20px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 24px;
}

.caja__trasera div p{
    font-size: 14px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 20px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: #001f3f;
}

/*Formularios*/

.contenedor__login-register{
    width: 100%;
    position: relative;
}

.contenedor__login-register form{
    width: 100%;
    padding: 40px 20px; /* Reducido el padding */
    background: rgba(255, 255, 255, 0.2); /* Fondo más claro y semitransparente */
    border-radius: 10px;
}

.contenedor__login-register form h2{
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
}

.contenedor__login-register form button{
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    border-radius: 5px;
}

.formulario__login{
    display: block;
}

.formulario__register{
    display: none;
}

@media screen and (max-width: 850px){
    .contenedor__todo{
        max-width: 90%;
        padding: 10px;
    }

    .contenedor__login-register form{
        padding: 20px;
    }
}
